<!DOCTYPE html>
<html>
<head>
	<title>Deng Mengjie's home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://use.fontawesome.com/98268712bf.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="./static/stylesheets/global.css">
	<script type="text/javascript" src="./static/bundle.js" charset="utf-8" async=true></script>
</head>
<body>
	<div class="sections">
		<ul class="section-list clearfix normal">
			<li class="section">
				<div class="preview trans-05" data-type='CIRCLE'>
					<p class="desc fs24 center"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;profile</p>
				</div>
				<div class="content hidden-trans trans-05">
					<section>
						<h2>About Me</h2>
						<p>An experienced front-end developer with a variety of web development skills and passion to learn latest technologies. International education background with degree in both science and engineering. Able to work individually and also fit into a team. Experience in various agile projects as either scrum master or front-end developer. Familiar with multiple programming languages.
						</p>
					</section>
					<section>
						<h2>Contact info</h2>
						<p><i class="fa fa-envelope-o mr10" aria-hidden="true"></i><a href="mailto:dmj900501@gmail.com" class="J_mail mail-link">dmj900501@gmail.com</a></p>
						<p><i class="fa mr10 fa-phone" aria-hidden="true"></i><a href="javascript:;" class="phone-link J_call mobile-only">+49 175 7389965</a></p>
						<p><i class="fa mr10 fa-github" aria-hidden="true"></i><a target="_blank" href="https://github.com/jilykate">github</a></p>
						<p><i class="fa mr10 fa-stack-overflow" aria-hidden="true"></i><a target="_blank" href="http://stackoverflow.com/users/4405029/jilykate">stackoverflow</a></p>
						<p><i class="fa mr10 fa-linkedin" aria-hidden="true"></i><a target="_blank" href="https://www.linkedin.com/in/mengjiedeng?trk=nav_responsive_tab_profile_pic">Linkedin</a></p>
					</section>
				</div>
			</li>
			<li class="section">
				<div class="preview trans-05" data-type='DIAMOND'>
					<p class="desc fs24 center"><i class="fa fa-university" aria-hidden="true"></i>&nbsp;education</p>
				</div>
				<div class="content hidden-trans trans-05">
					<section id="bachelor">
						<h2>University of Bristol<br>Bristol, United Kindom</h2>
						<p>2013.9 - 2014.11</p>
						<p>Master of Science (Advanced Computing)</p>
					</section>
					<section id="master">
						<h2>Southeast University<br>Nanjing, China</h2>
						<p>2009.9 - 2013.6</p>
						<p>Bachelor of Engineering (Software Engineering)</p>
					</section>
				</div>
			</li>
			<li class="section">
				<div class="preview trans-05" data-type='FLOWER'>
					<p class="desc fs24 center"><i class="fa fa-code-fork" aria-hidden="true"></i>&nbsp;projects</p>
				</div>
				<div class="content hidden-trans trans-05">
					<section>
						<h2>Mobile Website of Kujiale</h2>
						<p><i>as Scrum Mater and front-end developer</i></p>
						<p>Re-structing existing mobile website in following aspects:
							<ul class="classic">
							<li>adjust UI completely</li>
							<li>build/re-build global components, e.g. device detector, error handler</li>
							<li>integrate important functions, e.g. online payment</li>
							<li>design and implement communication protocol between web page and mobile app</li>
							</ul>
							This scrum group contains two front-end developers, one backend developer, one tester, one designer and one product manager.
						</p>
					</section>
					<section>
						<h2>Cloud-design Channel of Kujiale</h2>
						<p><i>as Scrum Mater and front-end developer</i></p>
						<p>Building up Cloud-design channel of Kujiale, includes:
							<ul class="classic">
							<li>create global theme style</li>
							<li>create index page, list page, detail page, tutorial pages</li>
							<li>create 3D pano templates with interactive virtual tours</li>
							</ul>
							This scrum team contains three front-end developers, two backend developers, one tester, one designer and one product manager.
						</p>
					</section>
					<section>
						<h2>BBS channel of Kujiale</h2>
						<p><i>as front-end developer</i></p>
						<p>Restricting existing BBS channel of Kujiale in following aspects:
							<ul class="classic">
							<li>adjust UI completely</li>
							<li>refactor existing codes</li>
							<li>add topic tag feature</li>
							<li>add recommend topics feature</li>
							</ul>
							This scrum team contains one front-end developer, one backend-developer, one tester, one designer and one product manager.</p>
					</section>
					<section>
						<h2>KMS(Kujiale Management System)</h2>
						<p><i>as scrum master, front-end developer and designer</i></p>
						<p>Refactoring KMS in following aspects:
							<ul class="classic">
							<li>adjust UI completely</li>
							<li>refactor existing codes</li>
							<li>design website themes and index page</li>
							</ul>
							This scrum group contains two front-end developers, one backend developer and one product manager.</p>
					</section>
				</div>
			</li>
			<li class="section skill-section">
				<div class="preview trans-05" data-type='SQUARE'>
					<p class="desc fs24 center"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;skills</p>
				</div>
				<div class="content hidden-trans trans-05">
					<section>
						<h2>Web Developement</h2>
						<span class="mr10">Javascript</span>
						<span class="mr10">jquery</span>
						<span class="mr10">es6</span>
						<span class="mr10">css</span>
						<span class="mr10">SASS</span>
						<span class="mr10">html</span>
						<span class="mr10">html5</span>
						<span class="mr10">freemarker</span>
						<span class="mr10">AngularJs</span>
						<span class="mr10">seajs</span>
						<span class="mr10">webpack</span>
					</section>
					<section>
						<h2>Source Control</h2>
						<span class="mr10">Mecurial</span>
						<span class="mr10">git</span>
					</section>
					<section>
						<h2>Programming Language</h2>
						<span class="mr10">C</span>
						<span class="mr10">C++</span>
						<span class="mr10">Python</span>
					</section>
					<section>
						<h2>Graphics</h2>
						<span class="mr10">Adobe Photoshop</span>
						<span class="mr10">Maya</span>
					</section>
				</div>
			</li>
		</ul>
	</div>
	<div class="noti">
		<div class="panel center br5">
			<p>OOPS~ Browser not supported</p>
			<div class="actions">
				<a href="javascript:;" class="br3 mr10 J_copy btn">change one</a>
				<a href="./static/doc/resume.pdf" class="br3 J_download btn">download PDF</a>
			</div>
		</div>
	</div>
	<div class="tools">
		<ul class="tool-list">
			<li class="tool">
				<a href="mailto:dmj900501@gmail.com" class="J_mail mail-link action"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
			</li>
			<li class="tool">
				<a href="./static/doc/resume.pdf" target="_blank" class="action"><i class="fa fa-download" aria-hidden="true"></i></a>
			</li>
			<li class="tool hidden qrcode-tool">
				<a href="javascript:;" class="action"><i class="fa fa-qrcode" aria-hidden="true"></i></a>
			</li>
			<li class="tool imprint-tool">
				<a href="javascript:;" class="action"><i class="fa fa-info" aria-hidden="true"></i></a>
			</li>
		</ul>
		<a href="javascript:;" class="J_toggle toggle"><i class="fa fa-bars" aria-hidden="true"></i></a>
	</div>
	<div class="imprint-layer">
		<div class="panel br5 center">
			<a class="J_close close-btn"><i class="fa fa-times" aria-hidden="true"></i></a>
			<h2>Imprint</h2>
			<section>
				<h3>Responsible for content</h3>
				<p>DENG mengjie</p>
			</section>
			<section>
				<h3>Contact Info</h3>
				<p><b>email:</b>dmj900501@gmail.com</p>
				<p><b>Tel:</b>+491757389965</p>
			</section>
			<section>
				<h3>Third-party tools/libs</h3>
				<p><b>Express:</b>&nbsp;http://expressjs.com/</p>
				<p><b>jQuery:</b>&nbsp;https://jquery.com/</p>
				<p><b>webpack:</b>&nbsp;https://webpack.github.io/</p>
				<p><b>sass:</b>&nbsp;http://sass-lang.com/</p>
			</section>
			<section>
				<h3>Copyright</h3>
				<p>The content of this website and its attachments may not be used for commercial. Right of final explanation reserved.</p>
			</section>
		</div>
		<div class="bg"></div>
	</div>
	<div class="qrcode-layer">
		<img src="./static/images/qrcode.jpg" class="center">
		<div class="bg"></div>
	</div>
</body>
</html>